<h1>Hey auth page!</h1>


  <h2 class="registerTitle">Register now!</h2>
  <form id="registerForm">
    <input id="registerUsername" name="username" type="text" placeholder="Enter a username..."/>
    <input id="registerName" name="name" type="text" placeholder="Enter a name..."/>
    <input id="registerPassword" name="password" placeholder="Enter a password..." type="password"/>
    <button id="registerSubmit" name="registerButton" type="submit" name="submit">Register</button>
    <script src="/js/register.js"></script>
  </form>


  <form class ='loginForm'>
    <input type="text" placeholder="Username" name= 'loginUsername' required id="login-username"></br>
    <input type="password" placeholder="Password" name='loginPassword' required id="login-password"></br>
    <button class="login" type="submit" name="loginButton" value="login"></button>
  </form>
