<form id="createFamilyForm" method="POST" action="/createFamily">
    <input id="createFamilyName" name="familyName" placeholder="Enter Family Name...">
    <input type="submit" id="createFamilyButton" name="submitButton" value="Create">
</form>

<script src="/js/joinFamily.js"></script>
