<form id="createFamilyForm">
    <input id="createFamilyName" name="familyName">
    <input type="submit" id="createFamilyButton" name="submitButton">
</form>

<script src="/js/joinFamily.js"></script>
