<h2>Create your family!</h2>

<form id="createFamilyForm" method="POST" action="/createFamily">
    <input id="createFamilyName" name="familyName" placeholder="Enter Family Name...">
    <input type="submit" id="createFamilyButton" name="submitButton" value="Create">
</form>

<h2>Or join an existing one!</h2>

<form id="JoinForm">
    <input id="joinCode" name="joinCode" placeholder="Enter Family's Code...">
    <button id="joinButton" name="joinButton" type="submit">Join!</button>
</form>

<script src="/js/join.js"></script>
