<h1>This is your family Code:</h1>
<h2>Copy & share it with your family members.</h2>
<p class="key">{{ familyKey }}</p>

<a href="/"><button class="homeButton">Go to home page</button></a>
<a href="/logout"><button class="logoutButton">Logout</button></a>
