<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="style.css">
    <title>Familia</title>
  </head>
  <body>
    <header class="flex justify-center pa2">
      <img src="./logo.jpg">
    </header>
    {{{body}}}
  </body>
</html>
